<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>📷 PHOTOBOOTH</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="scripts/axios/dist/axios.min.js"></script>
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="lib/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();
    </script>
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <div class="intro">
                <h1>die photobox.</h1>
                <h3 class="spacer">Bitte stellt euch an die markierte Linie,<br />
                damit man euch alle gut sieht :)</h3>
                <a href="#" class="btn make-photo" title="Cheeese!" v-on:click="shoot()">Cheeese!</a>
            </div>

            <div class="countdown">
                <h1>{{countdown_val}}</h1>
            </div>

            <div class="preview-img">
                <img :src="pic" />
            </div>
        </div>
    </div>

    <img src="img/logo.svg" alt="Logo" class="logo">

    <!-- JS -->
    <script src="js/photobooth.js"></script>
</body>
</html>