* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

body {
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../img/bg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.6rem;
    text-align: center;
}

#app {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

a.btn {
    background: #dd88f3;
    color: #fff;
    display: inline-block;
    font-size: 3.6rem;
    font-weight: bolder;
    margin-top: 20px;
    padding: 15px 20px;
    text-decoration: none;
}

.spacer {
    margin: 20px 0;
}

.wrapper {
    width: 80%;
}

.logo {
    bottom: 70px;
    height: 60px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

/* COUNTDOWN */
.countdown {
    font-size: 10rem;
    left: 50%;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* PREVIEW IMG */
.preview-img {
    background: #e4e4e4;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.preview-img img {
    height: 80vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

/* ANIMATIONS */
.fade-out {
    animation: fadeOut 0.5s ease;
    animation-fill-mode: both;
}

.fade-in {
    animation: fadeIn 0.5s ease;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

@keyframes fadeOut {
    60% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(120px);
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, 150px);
        visibility: hidden;
    }

    to {
        opacity: 1;
        transform: translateY(-50%, -50%);
        visibility: visible;
    }
}